@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

* {
  box-sizing: border-box;
}

body, html {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccba93;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  font: 1em Arial, sans-serif;
  line-height: 1.6em;
}

h1, h2 {
    font-family: Arial, sans-serif;
}

.bold {
  font-weight: bold;
}

.white {
  color: white;
}

.cot-blue {
  color: #3467b8;
}

.sideart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 70px;
  opacity: 0.45;
}

.sideart-left {
  left: 0;
  background: url('../images/sideart-left.png') 0 0/contain repeat-y;
}

.sideart-right {
  right: 0;
  background: url('../images/sideart-right.png') 0 0/contain repeat-y;
}

.brand-logo-band {
  position: fixed;
  width: 70%;
  height: 165px;
  background: #285cc2;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 800;
}

.brand-logo {
  position: fixed;
  width: 50%;
  top: 5px;
  left: 19%;
  z-index: 1200;
}

.nav {
  display: flex;
  font: bold 1.1em Arial, sans-serif;
  color: white;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, 0);
  height: 3em;
  background: #459945;
  width: calc(70% + 25px);
  z-index: 999;
}

.top-nav {
  position: fixed;
  align-items: center;
  top: 160px;
  height: 40px;
  border-top: 3px solid #66c366;
  border-bottom: 3px solid #66c366;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.top-nav:hover {
  cursor: pointer;
}

.top-nav p {
  font: bold 1.5em 'Montserrat', sans-serif;
  width: calc(100% - 200px);
  text-align: right;
  text-shadow: 0 0 3px rgba(0,0,0,0.7);
}

.nav a {
  color: white;
  margin: auto;
  transition: color 0.2s;
}

.nav a:hover {
  color: orange;
}

img.dog-bowl {
  position: absolute;
  width: 150px;
  right: 25px;
  bottom: -42px;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 0);
  background-color: transparent;
  background: url('../images/grass.svg') repeat-x;
  height: 85px;
  width: 100vw;
  z-index: 999;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  align-items: flex-end;
}

.bottom-nav span, .bottom-nav a {
  margin: 1em auto;
}

.main-head {
  font: 2.5em 'Montserrat', Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.bottom-head {
  margin: 1rem;
  text-align: center;
  color: rgb(55, 107, 184);
}

.main-col {
  margin: 0 auto;
  padding: 200px 125px 4em;
  width: 70%;
  background: url('../images/blue_sky.jpg') no-repeat;
  background-color: #bee9fa;
}

.product-type {
  padding: 1em 125px;
  margin: 0 -125px;
}

.product-type p {
  color: white;
}

.product-type h2 {
  color: #fd9200;
}

.nobreaking {
  white-space: nowrap;
}

.product-type:nth-of-type(2n) {
  background: rgb(55, 107, 184);
}

.product-type:nth-of-type(2n+1) {
  background: rgba(255, 255, 255, 0.5);
}

.product-type:nth-of-type(2n+1) p {
  color: rgb(44, 80, 133);
}

.product-type:nth-of-type(2n+1) h2 {
  color: #275bc7;
}

.made-in-usa {
  width: 80px;
  margin: 0 auto;
}

.product-right {
  width: 300px;
  float: right;
  margin-right: -62px;
}

.product-left {
  width: 300px;
  float: left;
  padding: 2em 0;
  margin: 0 2em 0 -100px;
}

.skew-left {
  transform: rotate(-15deg)
}

.popup-overlay {
  display: none;
}

.popup {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}

.popup-overlay.showing {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
}

.social-container a {
  margin: 0 auto;
}

.contact {
  font-family: Arial, sans-serif;
  width: 20%;
  padding: 0.75em;
  text-align: center;
  margin: -1rem 1em 1em;
  color: white;
  float: right;
  border-radius: 0 0 1em 1em;
}

.contact h1 {
  font: bold 1em 'Montserrat', sans-serif;
  margin: 0;
}

.contact p {
  margin: 0 auto;
}

.contact.wholesale {
  background: #37b578;
}

.contact.consumer {
  background: #c49c37;
}

img.fbook {
  width: 45px;
  margin-right: 1em;
}

.fbook-text {
  font: bold 1em 'Montserrat', sans-serif;
  color: rgb(100, 100, 100);
}

.wider-area {
  margin: 0 -6em;
}

@media(max-width: 800px) {

  .main-col {
    padding: 12em 1.5em 8em;
    width: 90%;
  }

  .sideart {
    width: 50px;
  }

  .brand-logo-band {
    width: 90%;
  }

  .brand-logo {
  	position: fixed;
  	width: 90%;
  	top: 5px;
  	left: 2%;
  }

  .main-head {
    font-size: 1.8em;
  }

  .top-nav {
    width: 100vw;
    top: 110px;
    padding: 1.4em 0;
  }

  img.dog-bowl {
    width: 120px;
    bottom: -34px;
  }

  .top-nav p {
    font-size: 0.9em;
    margin: 0 160px 0 auto;
  }

  .bottom-nav {
    display: block;
    height: 125px;
    background-size: cover;
    padding-top: 2.5em;
    text-align: center;
  }

  .bottom-nav span:first-of-type {
    display: block;
    margin: 0.2em auto;
    text-align: center;
  }

  .bottom-nav span, .bottom-nav a {
    display: inline-block;
    margin: 0 1em;
  }

  .contact {
    width: auto;
    float: none;
    margin-top: 0;
    position: relative;
    z-index: 999;
  }

  .popup {
    width: 90%;
    height: auto;
  }

  .contact.consumer {
    margin-top: -2em;
    padding-top: 2em;
    z-index: 998;
  }

  .main-head {
    text-align: center;
  }

  .product-type {
    margin: 0 -1.5em;
    padding: 1em 2em;
  }

  .wider-area {
    margin: 0;
  }

  .nobreaking {
    white-space: normal;
  }

  .bottom-head {
    font-size: 1.2em;
  }

  .product-right, .product-left {
    display: block;
    float: none;
    margin: 0 auto;
    width: 75%;
    padding-bottom: 0;
  }

  .fbook-text {
    display: block;
    font-size: 0.9em;
  }

}

@media(max-width: 1225px) {

  .brand-logo {
    display: block;
    margin: 1em auto;
    float: none;
  }

}
