@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

* {
  box-sizing: border-box;
}

body, html {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccba93;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  font: 1em Arial, sans-serif;
  line-height: 1.6em;
}

h1, h2 {
    font-family: Arial, sans-serif;
}

.bold {
  font-weight: bold;
}

.white {
  color: white;
}

.cot-blue {
  color: #3467b8;
}

.sideart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 70px;
  opacity: 0.45;
}

.sideart-left {
  left: 0;
  background: url('../images/sideart-left.png') 0 0/contain repeat-y;
}

.sideart-right {
  right: 0;
  background: url('../images/sideart-right.png') 0 0/contain repeat-y;
}

.nav {
  display: flex;
  font: bold 1.1em Arial, sans-serif;
  color: white;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, 0);
  height: 3em;
  background: #459945;
  width: calc(70% + 25px);
  z-index: 999;
}

.top-nav {
  position: fixed;
  align-items: flex-end;
  top: 0;
  height: 95px;
  border-bottom: 8px solid #66c366;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.top-nav:hover {
  cursor: pointer;
}

.top-nav p {
  font: bold 1.5em 'Montserrat', sans-serif;
  text-align: right;
  text-shadow: 0 0 8px rgba(0,0,0,0.7);
  margin: auto 170px auto 1em;
}

.nav a {
  color: white;
  margin: auto;
  transition: color 0.2s;
}

.nav a:hover {
  color: orange;
}

img.dog-bowl {
  position: absolute;
  width: 135px;
  right: 25px;
  bottom: -43px;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 0);
  background-color: transparent;
  background: url('../images/grass.svg') repeat-x;
  height: 85px;
  width: 100vw;
  z-index: 999;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  align-items: flex-end;
}

.bottom-nav span, .bottom-nav a {
  margin: 1em auto;
}

.main-head {
  font: 2.5em 'Montserrat', Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.bottom-head {
  margin: 1rem;
  text-align: center;
  color: rgb(55, 107, 184);
}

.main-col {
  margin: 0 auto;
  padding: 125px 125px 4em;
  width: 70%;
  background: url('../images/blue_sky.jpg') no-repeat;
  background-color: #bee9fa;
}

.product-type {
  padding: 1em 125px;
  margin: 0 -125px;
}

.product-type p {
  color: white;
}

.product-type h2 {
  color: #fd9200;
}

.nobreaking {
  white-space: nowrap;
}

.product-type:nth-of-type(2n) {
  background: rgb(55, 107, 184);
}

.product-type:nth-of-type(2n+1) {
  background: rgba(255, 255, 255, 0.5);
}

.product-type:nth-of-type(2n+1) p {
  color: rgb(44, 80, 133);
}

.product-type:nth-of-type(2n+1) h2 {
  color: #275bc7;
}

.brand-logo {
  position: relative;
  top: 65px;
  width: 600px;
  margin: 2em 0 0 2em;
  float: left;
}

.made-in-usa {
  width: 100px;
  margin: 3em 1em;
  float: right;
}

.product-right {
  width: 300px;
  float: right;
  margin-right: -62px;
}

.product-left {
  width: 300px;
  float: left;
  padding-bottom: 2em;
  margin: 0 2em 0 -100px;
}

.skew-left {
  transform: rotate(-15deg)
}

.popup-overlay {
  display: none;
}

.popup {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}

.popup-overlay.showing {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
}

.contact {
  font-family: Arial, sans-serif;
  width: 20%;
  padding: 0.75em;
  text-align: center;
  margin: -1rem 1em 1em;
  color: white;
  float: right;
  border-radius: 0 0 1em 1em;
}

.contact h1 {
  font: bold 1em 'Montserrat', sans-serif;
  margin: 0;
}

.contact p {
  margin: 0 auto;
}

.contact.wholesale {
  background: #37b578;
}

.contact.consumer {
  background: #c49c37;
}

img.fbook {
  width: 45px;
  margin-right: 1em;
}

.fbook-text {
  font: bold 1em 'Montserrat', sans-serif;
  color: rgb(100, 100, 100);
}

.wider-area {
  margin: 0 -6em;
}

@media(max-width: 1275px) {

  .main-col {
    padding: 4em 1.5em;
  }

  .brand-logo {
    display: block;
    margin: 1em auto;
    float: none;
  }

  .main-head {
    text-align: center;
  }

  .product-type {
    margin: 0 -1.5em;
    padding: 1em 2em;
  }

  .wider-area {
    margin: 0;
  }

}
